<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
</head>
<body>
    <a href="/budget"> <button> Home </button></a>
    <br>
    <br>
    <h1>Add Transaction</h1>
<form action="/budget" method="POST">  

<label>
            <br>
            <br>
    Date:
    <input type="text" placeholder="Date" name="date">
</label>
<label>
    Name:
    <input type="text" placeholder="Name" name="name"> 
</label>
    <br>
<label>
    From:
    <input type="text" placeholder="From" name="from" >
</label>
<label>
    Amount:
    <input type="text" placeholder="Amount" name="amount" >  
    </label>
    <br>
    <input type="submit" value="Update">
</form>
</body>
</html>

